<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<div th:fragment="footer">
    <!-- 푸터 -->
    <section class="conD">
        <footer class="container">
            <div class="container">
                <div class="footA">
                    <h2>CAMPIGN MALL</h2>
                    <p>부산광역시 부산진구 신천대로50번길 79 로컬빌딩 5층</p>
                    <a href="#">https://ko.campingmall.com/</a>
                </div>

                <div class="footB">
                    <div>
                        <h3>ABOUT</h3>
                        <ul>
                            <li><a href="#">Address</a></li>
                            <li><a href="#">Map</a></li>
                        </ul>
                    </div>
                    <div>
                        <h3>SUPPORT</h3>
                        <ul>
                            <li><a href="#">Download</a></li>
                            <li><a href="#">Menual</a></li>
                        </ul>
                    </div>
                    <div>
                        <h3>CONTENTS</h3>
                        <ul>
                            <li><a href="#">Announcement</a></li>
                            <li><a href="#">Bussiness</a></li>
                        </ul>
                    </div>
                </div>

                <div class="footC">
                    &COPY; <span class="log">CAMPING MALL</span> corp. All right reserved.
                </div>
            </div>
        </footer>
    </section>
</div>